@import 'scaffolding/utilities';
@import 'scaffolding/type';
@import 'scaffolding/colors';
@import 'scaffolding/variables';
@import 'partials/stationselector';

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

a {
	text-decoration: none;
}

.hidden {
	display: none;
}

body {
	@extend %helvetica;
	background-color: $background-blue;
	color: $primary-white;
	padding: 24px;
}

li {
	@extend %horizontal-center;
	margin-bottom: 1rem;

	.warn {
		color: red;
	}

	h3 {
		@extend %horizontal-center;
		justify-content: center;
		align-items: center;
		width: 32px;
		height: 32px;
		border-radius: 50%;
		margin-right: .25rem;
	}

	p {
		margin-right: .5rem;
	}
}