@import 'scaffolding/resets';
@import 'scaffolding/utilities';
@import 'scaffolding/type';
@import 'scaffolding/colors';
@import 'scaffolding/variables';
@import 'partials/button';
@import 'partials/inputs';
@import 'partials/tab-panel';
@import 'partials/station-button';
@import 'partials/header';
@import 'partials/search-bar';
@import 'partials/sign-mockup';
@import 'partials/stations-list';
@import 'partials/search-results';
@import 'partials/tabs';
@import 'partials/add-stations-mode';
@import 'partials/active-stations';
@import 'partials/options';
@import 'partials/power-dialog';
@import 'partials/sign-selector';

.hidden {
	display: none;
}

body {
	@extend %helvetica;
	background-color: $background-blue;
	color: $primary-white;
	background-image: linear-gradient($secondary-blue, $background-blue);
	overflow-y: hidden;
}

main {
	@extend %vertical-start;
	width: 100vw;
	height: 100vh;
}

.submit {
	@extend %horizontal-start;
	justify-content: flex-start;
	width: 100%;
	padding: 1rem 0;
	background: none;
	border: none;
	color: $primary-white;
	font-size: 1rem;
	font-weight: 600;
	border-bottom: 4px $primary-white solid;
}
