    </body>
    <script>
        <% if (signInfo.signId) { %>
            let signId = "<%= signInfo.signId %>";
        <% } %>
        async function APIRequest(verb, route) {
            let url = `${window.location.origin}/`;
            url += `${route}`;
            console.log(url);
            let response = await fetch(url, { method: verb });
            let data = await response.json();
            return data;
        }
    </script>
</html>
