    </body>
    <script>
        let signId = "<%= signInfo.signId %>";
        async function APIRequest(verb, route) {
            let url = window.location.href;
            url = `http://${url.split('/', 3)[2]}/`;
            url += `${route}`;
            console.log(url);
            let response = await fetch(url, { method: verb });
            let data = await response.json();
            return data;
        }
    </script>
</html>
