<header class="header">
    <h1 class="header__sign-name" sign-id=<%= signInfo.sign_id %>>Sign <%= signInfo.sign_id.toUpperCase() %></h1>
    <button class="icon-button header__power-button"></button>
</header>