<div class="power-dialog__scrim"></div>
<div class="power-dialog power-dialog--off">
    <div class="power-dialog__header">
        <img src="../img/power--off.svg" alt="" class="icon-button">
        <h1>Turn off the sign?</h1>
    </div>
    <p>The display will turn off after a few seconds, but the sign will continue to draw minimal power.</p>
    <button class="power-dialog__confirm" sign-on="false">Turn off</button>
    <button class="power-dialog__cancel">Cancel</button>
</div>
<div class="power-dialog power-dialog--on">
    <div class="power-dialog__header">
        <img src="../img/power.svg" alt="" class="icon-button">
        <h1>Turn on the sign?</h1>
    </div>
    <p>The sign will take a few seconds to turn on</p>
    <button class="power-dialog__confirm" sign-on="true">Turn on</button>
    <button class="power-dialog__cancel">Cancel</button>
</div>