<%- include('partials/_head') %>
<script src="/scripts/sign-selector-ui.js"></script>
<main class="sign-selector">
    <h1>Access your sign</h1>
    <h2>Welcome to subway sign!</h2>
    <div class="input">
        <label for="sign-code">To get started, enter the 4-digit code on the back of your sign</label>
        <input type="text" id="sign-code" placeholder="e.g abcd">
        <p class="input__error error"></p>
    </div>
    <div class="spacer"></div>
    <button class="go-button">Find my sign</button>
</main>
<%- include('partials/_footer')  %>