.arrivals {
    @extend %vertical-start;
    width: 100%;
    list-style: none;
    flex: 1;
    overflow-y: scroll;

    &__item {
        @extend %horizontal-center;
        width: 100%;
        margin-bottom: 1.5rem;

        .warn {
            color: $orange-bdfm;
        }

        h3 {
            @extend %horizontal-center;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            border-radius: 50%;
            margin-right: .5rem;
        }

        p {
            margin-right: .5rem;
        }

        &-headsign {
            flex: 1;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }
}