.header {
    @extend %horizontal-center;
    width: 100%;
    padding: 1rem $padding-mobile;
    opacity: 1;
    transition: transform $transition,
                opacity $transition;

    &__sign-name {
        flex: 1;
    }

    &__power-button {
        background-image: url('../img/power.svg');
    }
}