.search-bar {
    width: 100%;
    margin-bottom: .75rem;

    &__input {
        @extend %helvetica-bold;
        width: 100%;
        // background-color: $tertiary-blue;
        background: none;
        color: $primary-white;

        border: none;
        padding: 0;
        margin: 0 0 .75rem 0;

        font-size: 2rem;

        &::placeholder {
            color: $primary-white;
            opacity: 1;
            padding: 0;
            margin: 0;
        }

        &:focus {
            background: none;
            outline: none;
        }
    }

    &__close-button {
        @extend %helvetica-medium;
        position: absolute;
        right: $padding-primary;
        top: 2.6rem;
        background: none;
        color: $primary-white;
        border: none;
        display: none;

        &--active {
            display: block;
        }
    }
}