.search-bar {
    @extend %horizontal-center;
    width: 100%;
    padding: .25rem 0 .25rem;

    &__save {
        width: 3rem !important;
        height: 3rem;
        background-image: url('../img/search.svg');
    }

    input {
        font-size: 1.5rem;
        font-weight: 700;
        color: $primary-white;
        width: calc(100% - 3rem);

        &:focus-visible {
            outline: none;
        }

        &::placeholder {
            color: lighten($tertiary-blue, 30%);
        }
    }
}