.search-bar {
    @extend %horizontal-center;
    width: 100%;
    padding: 1rem $padding-mobile;
    opacity: 0;

    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    transition: top $transition,
                opacity $transition;

    input {
        font-size: 2rem;
        font-weight: 700;
        color: $primary-white;
        width: 100%;

        &:focus-visible {
            outline: none;
        }

        &::placeholder {
            color: lighten($tertiary-blue, 30%);
        }
    }
}