.sign-selector {
    @extend %vertical-center;
    padding: 15vh $padding-mobile 1rem;
    height: 100vh;
    background-image: url('../img/selector-background.png');
    background-size: cover;
    background-position: bottom center;

    h1,
    h2,
    h3 {
        width: 80%;
        text-align: center;
    }

    h1 {
        font-size: 1rem;
        margin-bottom: .5rem;
    }

    h2 {
        font-size: 2.5rem;
        margin-bottom: 3rem;
    }

    button {
        width: 100%;
        background-color: transparentize($background-blue, .75);
    }
    .spacer {
        flex: 1;
    }
}