.station-button {
    @extend %horizontal-center;
    padding: .5rem 1rem;
    width: 100%;
    flex-shrink: 0;
    margin: 0 0 .4rem 0;
    background-repeat: no-repeat;
    background-size: 1.25rem;
    background-position: 95% center;

    h3 {
        color: $primary-white;
        font-size: 1.25rem;
        margin-right: .5rem;
        text-align: left;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        flex: 1;
    }

    &__lines {
        @extend %horizontal-center;
        margin-right: 0;
        transition: margin $transition;

        li {
            @extend %horizontal-center;
            justify-content: center;
            width: 1.3rem;
            height: 1.3rem; 
            border-radius: 50%;
            margin-left: .25rem;
            font-size: .9rem;

            &[express] {
                border-radius: 0;
                margin-left: .5rem;
                width: 1.15rem;
                height: 1.15rem;
                transform: rotate(45deg);

                p {
                    transform: rotate(-45deg);
                }
            }
        }
    }
}