.tab-panel {
    @extend %vertical-start;
    width: 100vw;
    height: 100%;
    padding: 0 $padding-mobile/2;
    position: relative;
    
    &__frame {
        @extend %horizontal-start;
        position: relative;
        width: 200vw;
        flex: 1;
        transition: transform $transition;
        overflow-y: scroll;

        &--left {
            transform: translateX(50vw);
        }

        &--right {
            transform: translateX(-50vw);
        }

        @media screen and (min-width: $breakpoint) {
            width: 100vw;
            max-width: $site-max-width;
            padding: 0 $padding-mobile;

            .tab-panel {
                &:first-child {
                    padding: 0 2rem 0 0;
                    margin-right: 2rem;
                    border-right: 1px $tertiary-blue solid;
                }
                &:last-child {
                    padding: 0;
                }
            }

            &.tab-panel__frame--right,
            &.tab-panel__frame--left {
                transform: translateX(0vw);
            }

            // .tab-panel {
            //     padding: 0;
            //     margin-right: 2rem;

            //     &:last-child {
            //         margin: 0;
            //     }
            // }
        }
    }

    button {
        width: 100%;
    }
}